{% extends 'base.html' %}

{% block content %}

  <h1>{{ object.name }}</h1>
  <p>{{ object.description }}</p>
  <p>Порядок статуса: {{ object.rang_status }}</p>
<a href="{% url 'status_update' object.pk %}" class="btn btn-primary">Изменить статус</a>

  <form method="POST" action="{% url 'status_delete' object.pk %}" style="display: inline-block;">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger" onclick="return confirm('Вы действительно хотите удалить статус?')">Удалить статус</button>
  </form>
  
{% endblock %}




